.chart-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 0.8889rem;
    background: #edf0f1;
}
.time-ttl {
    font-weight: 600;
}

