.header, .footer {
    width: 100%;
    height: 80px;
    background: #2a2c2e;
}

.header {
    font-size: 0.8889rem;
}

.header .logo-wrap {
    width: 200px;
    flex-grow: 1;
}

.logo-wrap .logo { max-width: 200px; }

.header .container, .footer .container {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
}

.header .logo, .footer .logo {
    height: 200%;
}

.header  a::after { display: none; }

.btn-small {
    width: 50px;
    height: 30px;
    margin: 0 10px;
    padding: 5px 25px;
    background: #555658;
    color: #c3c3c3;
    cursor: pointer;
    transition: color .6s;
}

.btn-small:hover {
    color: #fff;
}

.user-mail {
    margin: 0 10px;
    padding: 5px 25px;
    background: #555658;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
}
