.header, .footer {
    width: 100%;
    height: 80px;
    background: #2a2c2e;
}

.header {
    font-size: 0.8889rem;
}

.header .logo-wrap {
    width: 200px;
    flex-grow: 1;
}

.logo-wrap .logo { max-width: 200px; }

.header .container, .footer .container {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
}

.header .logo, .footer .logo {
    height: 200%;
}

.header  a::after { display: none; }
